[submodule "hardware/schematic"]
	path = hardware/schematic
	url = git@github.com:jaapgeurts/z80_hardware.git
[submodule "software/firmware"]
	path = software/firmware
	url = git@github.com:jaapgeurts/z80_firmware.git
[submodule "software/retro8"]
	path = software/retro8
	url = git@github.com:jaapgeurts/retro8.git
